.board {
    width: fit-content;
    margin: 40px auto;
    text-align: center;
}

.board h1 {
    color: #4b3e00;
    margin-bottom: 16px;
}

.board button {
    padding: 8px 12px;
    margin: 25px;
    background: #e8e3d3;
    border: 2px solid #4b3e00;
    color: #4b3e00;
    width: 100px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}

.board button:hover {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: #d6d1bd;
    color: #4b3e00;
}

.board .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #ffe57371;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color:#4b3e00;
}

.winner .text {
    background: #ffe573;
    height: 300px;
    width: 320px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.winner .win {
    margin: 0 auto;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}