.square {
    width: 100px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 48px;
}

.square.is-selected {
    color: #fff;
    background: #09f;
}

.turn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: fit-content;
    position: relative;
    border-radius: 10px;
}

.turn .square {
    width: 70px;
    height: 70px;
    pointer-events: none;
    border-color: transparent;
}